<a href="./rooms/index.php" class="btn btn-danger">Na místnosti</a>
<a href="reset.php" class="btn btn-info">Změna hesla</a>
<a href="logout.php" class="btn btn-warning">Odhlásit</a>
<a href="./employees/index.php" class="btn btn-danger">Na zaměstnance</a>