<h1>Změna hesla</h1>
<form method="post" action="resetPass.php">
    <label>staré heslo:</label>
    <input type="password" name="pass" id="pass" class="form-control"/>
    <label>nové heslo:</label>
    <input type="password" name="newPass" id="newPass" class="form-control"/>
    <input type="submit" name="submit" id="submit" class="btn btn-danger"/>
</form>
